/* BreakPointa Guide */
/* 
Breakpoint	Min Width (px)	
    sm		640px	
    md		768px	
    lg		1024px	
    xl		1280px	
    2xl		1536px	
*/

/* ---------------------------------------------------------------- */
/* MAIN GRID Layout - HOME */


.MainHomePage{
   grid-template-columns: 4fr 1fr;
   grid-template-rows: repeat(3, minmax(1fr, 300px));
   grid-template-areas: "section1 section4"
                        "section2 section4"
                        "section3 section4";
}


.section1{
    grid-area: section1;
}
.section2{
    grid-area: section2;
}
.section3{
    grid-area: section3;
}
.section4{
    grid-area: section4;
}

/* tab screen  */
@media screen and (max-width:1023px) {
    .MainHomePage{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, minmax(200px, 1fr));
        grid-template-areas: "section1"
                                "section2"
                                "section3"
                                "section4";
     }


    

}

/* big mobile screen  */
@media screen and (max-width:767px) {
    .MainHomePage{
        display: flex;
        flex-direction: column;
    }

    .section2{
        grid-template-areas: "row2-element-2 row2-element-2"
                            "row2-element-1 row2-element-3"
                            ;
        
    }
    .row2-element-1{
        grid-area: row2-element-1;
    }
    .row2-element-2{
        grid-area: row2-element-2;
    }
    .row2-element-3{
        grid-area: row2-element-3;
    }

    
    
}

/* MAIN GRID LAYOUT - Home ENDS */
/* ---------------------------------------------------------------- */



/* other basic css */
.smooth-shadow{
   box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.bg-gardient-box {
    background: linear-gradient(177deg, hsla(224, 71%, 8%, 0.7) 10.57%, hsla(224, 30%, 50%, 0.37) 107.32%);
    backdrop-filter: blur(35.2px);

}


/* OTHER HOMEPAGE elements */

.row2-element-2 {
    --color: hsla(244, 33%, 28%, 1);
    background: linear-gradient( var(--color), transparent, transparent , var(--color) );
}

