.slider-track{
    border: 1px solid green;
}
.slider-track div{
    animation: move-left 10s linear infinite;
    
}


  @keyframes move-left {
    0% {
      left: 100%;
    }
    100% {
      left: -80px;
    }
  }
